<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Text to Text
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-textarea placeholder="Insert your text" minlength=1 type="text" [(ngModel)]="input"></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-button (click)="onClick()">Click Here</ion-button>
            </ion-item>
            <ion-item>
              <ion-textarea placeholder="It will appear here" readonly=true [(ngModel)]="output"></ion-textarea>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
