<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start" > 
      <ion-button (click)="onStart()"> 
        <ion-icon name="play-outline" slot="icon-only" color="success"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Background task
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onStop()"> 
        <ion-icon name="stop-outline" slot="icon-only" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item><ion-label>{{first}}</ion-label></ion-item>
      <ion-item><ion-label>{{second}}</ion-label></ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
